/*
    I. Variável em CSS
    
        A variável em CSS funciona de certo modo diferente do habitual
        das linguagens de programação. Entretando ela pode ser muito útil,
        veja:

            Em um código simples, com apenas algumas coisinhas para mecher,
            pode ser prático mudar, por exemplo, a cor de um elemento um por um,
            mas pensando a longo prazo, e códigos muito grandes fica inviável trocar
            a cor de um elemento um por um, e é nesse ponto que as variáveis entram.

            Observe como seria mais ou menos o caso sem variável:

                elemento1 = azul
                elemento2 = azul
                elemento3 = azul

                A escrita no código não é essa, mas vai servir bem para entender
                a lógica. Veja que cada elemento recebe o valor de uma cor, mas 
                caso você queria alterar as cores desses elementos para vermelho,
                você terá que altera um por um.
            
            Agora observe com a variável:

                variavel = azul

                elemento1 = variavel
                elemento2 = variavel
                elemento3 = variavel

                Veja que agora os elementos recebem o valor contido na variavel.
                Dessa forma, alterando o valor contido na variável, todos os
                elementos são alterados também.

*/
:root{
    /*
        Esse é o campo de criação de uma variável em CSS, dentro de :root você pode
        criar qualquer variável que for lhe dar suporte.

        É possivel, como está nesse exemplo, mudar as cores dos elementos, como também
        alterar a largura com a variável, ou qualquer mudança de elmento, basta entender
        como funciona o uso da variável.
    */
    --color-principal: aquamarine;
}
.menu{
    height: 100px;
    width: 100%;
    background-color: var(--color-principal)
    /*
        Para usar a variável, basta usar var(nome-variável), e para trocar o conteúdo, altere
        em :root, que tudo que estiver usando irá se ingualar.
    */
}

.botoes{
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.btn-01{
    height: 50px;
    width: 100px;
    background-color: var(--color-principal)
}
.btn-02{
    height: 50px;
    width: 100px;
    background-color: rgb(185, 92, 228);
}

/*
    II. HOVER em CSS

        O hover em CSS serve para colocar customizações quando passa o cursor do mouse,
        basicamente é um efeito interativo com o usuário. É possível trocar a cor de um
        botão ao passar o mouse, aumentar um nome e diversas outras customizações.

        Como usá-lo?

            Bom, basta ter o elemento cujo qual você quer fazer a alteração usando a eextensão
            do hover, seguindo essa formatação

                tag:hover{
                    color: red;
                    transition: 1s;
                    background-color: blue;
                    border: 3px solid black;
                }

            Como é possível observar, há diversas modificações possíveis com o hover, desde
            a alteração das cores, da largura, da altura, e várias outras. Entretanto, vale
            dar uma atenção a mais a alteração da transition, que muda o tempo em que as alterações
            seram executadas, sendo essencial para deixar a customização mais fluída.
*/
.botoes-hover{
    width: 500px;
    border: 2px solid black;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.btn-hover{
    width: 200px;
    height: 50px;
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    cursor: pointer;
    border-radius: 10px;
}
/*
    Aqui fiz mudanças simples nos botões, apenas para que mude a cor do botão, e 
    botei várias opções de tempo de mudança, passando o cursor nesse botões fica
    evidente as mudanças.
*/
.botao01:hover{
    background-color: cornflowerblue;
    transition: 0.5s;
}
.botao02:hover{
    background-color: cornflowerblue;
    transition: 1s;
}
.botao03:hover{
    background-color: cornflowerblue;
    transition: 1.5s;
}
.botao04:hover{
    background-color: cornflowerblue;
    transition: 2s;
}