/*
    I.II Documentação a Parte

        É aqui, nesse documento, que a magia da customização
        acontece!

        Aqui você consegue puxar toda e qualquer TAG la do HTML
        e customizar, a criatividade aqui é o limite.
*/
h1{
    color: crimson;
}/*Altera Todos os h1*/

.titulo h1{
    color: darkslategrey;
}/*Altera todos os h1 presentes da div titulo*/

#id-titulo h1{
    color: dodgerblue;
}
/*
    É válido infomar que há diferença em como chamar
    um ID e uma CLASS no CSS. De forma que, a CLASS
    segue esse padrão:

        .nome da classe

        Basicamente, chama a CLASS com um ponto junto ao nome
    
    Já o ID possui uma formatação diferente, veja

        #nome da classe

        Basicamente, só trocar o ponto pela hashtag.
*/